/* 
Global vars
*/
:root {
  --main-font: "Jersey10", sans-serif;
  --link-font: "Jersey10Charted", sans-serif;
  --main-font-color: #D9D9D9;
  --green-font-color: #00A96E;
}

/* 
App fonts
*/
@font-face {
  font-family: "Jersey10";
  src: local("Jersey 10"), local("Jersey10"), url("./assets/fonts/Jersey10-Regular.ttf");
}
@font-face {
  font-family: "Jersey10Charted";
  src: local("Jersey 10 Charted"), local("Jersey10Charted"), url("./assets/fonts/Jersey10Charted-Regular.ttf");
}

/* 
Page container
*/
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

/*
Main container
*/
.first-line {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  font-family: var(--link-font);
}

.first-line h1 {
  margin-left: 4px;
}

.first-line:hover {
  color: white;
}

.faq {
  font-family: var(--main-font);
}

.faq h1 {
  font-size: 64px;
  color: var(--main-font-color);
}

.faq h2 {
  font-size: 32px;
  color: var(--green-font-color)
}

.faq blockquote { 
  font-size: 24px;
  color: var(--main-font-color);
  border-left: var(--main-font-color) solid;
  padding-left: 1em;
}

.faq a {
  color: var(--main-font-color);
  text-decoration: underline;
}